* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/* Section responsive width */
.op__responsive-width { 
  max-width: 1200px; 
  margin: 0 auto;
  padding: 1rem ;
}

@media screen and (min-width: 2000px) {
  .op__responsive-width {
    max-width: 1400px;
  }
}
/* Section responsive width */

.op__nav-header {
  color: #E5E7EB;
  background-color: #445264;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.op__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem ;
}

.op__nav-container span {
  font-weight: 100;
}

.op__nav-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: #F9FAF8;
  padding: 1rem;
}

.op__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .op__nav-list {
    display: none;
  }
}

.op__nav-list li {
  list-style: none;
  padding: 1rem;
}

/* Hero Banner section */
.op__hero-banner {
  color: #E5E7EB;
  background-color: #445264;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.op__hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10rem 1rem;
}

@media screen and (max-width: 1000px) {
  .op__hero-container {
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .op__hero-title h1 {
    font-size: 2rem !important;
    line-height: 2.4rem !important;
  }  
}

.op__hero-title {
  flex: 1;
  padding: 1rem;
}

.op__hero-title h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.4rem;
  color: #F9FAF8;
}

.op__hero-img {
  flex: 1;
  text-align: center;
}

@media screen and (min-width: 2000px) {
  .op__hero-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
  }
  .op__hero-img img {
    max-width: 600px !important;
  }
}

.op__hero-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 1rem;
}

.op__hero-button {
  font-size: 1.2rem;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

/* Projects Section */
.op__listbox-container {
  padding: 10rem 1rem;
}

.op__listbox-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.op__listbox-box {
  text-align: center;
}

.op__listbox-title {
  padding: 0 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.op__listbox-box img {
  width: 260px;
  height: 200px;
  box-shadow: 5px 5px 10px #1f293756;
  border-radius: 1rem;
  transition: transform .3s ease-in-out;
}

.op__listbox-box:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  .op__listbox-container {
    padding: 5rem 1rem;
  }
}

.gallery-text {
  color: #fff;
  background-color: #747474;
  padding: 0.6rem;
}

/* Testimonial Section */
.op__testimonial {
  background-color: #E5E7EB;
}

.op__testimonial-container {
  margin: 0 auto;
  display: flex;
  padding: 10rem 1rem;
}

.op__testimonial-box {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin: 0 auto;
}

.op__testimonial-box h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.op__testimonial-box p {
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .op__testimonial-container {
    padding: 5rem 1rem;
  }
  .op__testimonial-box {
    text-align: center;
  }

  .op__testimonial-box h2 {
    font-size: 1.3rem;
  }
}

/* Call to action */
.op__cta-container {
  padding: 10rem 1rem;
}

.op__cta-box {
  color: #fff;
  background-color: #323538;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
}

@media screen and (max-width: 1000px) {
  .op__cta-container {
    padding: 5rem 1rem;
  }
  .op__cta-box {
    flex-direction: column;
    align-items: flex-start;
  }
}

.op__cta-box-text h3 {
  font-weight: 1.5rem;
}

.op__cta-box-btn button {
  font-size: 1.2rem;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

.op__footer {
  color: #E5E7EB;
  background-color: #445264;
  
}

.op__footer-container {
  text-align: center;
  font-size: 0.9rem;
  padding: 1.4rem 1rem;
}

