* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Section responsive width */
.op__responsive-width { 
  max-width: 1200px; 
  margin: 0 auto;
  padding: 1rem ;
}

@media screen and (min-width: 2000px) {
  .op__responsive-width {
    max-width: 1400px;
  }
}
/* Section responsive width */

.op__nav-header {
  color: #E5E7EB;
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.op__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem ;
}

.op__nav-header h2 {
  font-size: 24px;
  color: #F9FAF8;
  padding: 1rem;
}

.op__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .op__nav-list {
    display: none;
  }
}

.op__nav-list li {
  list-style: none;
  padding: 1rem;
}

/* Hero Banner section */
.op__hero-banner {
  color: #E5E7EB;
  background-color: #1F2937;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.op__hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .op__hero-container {
    flex-direction: column;
  }
  .op__hero-banner {
    height: 700px;
  }
}

.op__hero-title {
  flex: 1;
  padding: 1rem;
}

.op__hero-title h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.op__hero-img {
  flex: 1;
}

@media screen and (min-width: 2000px) {
  .op__hero-img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
  }
  .op__hero-img img {
    max-width: 600px !important;
  }
}

.op__hero-img img {
  width: 100%;
  max-width: 500px;
}

.op__hero-button {
  font-size: 1.2rem;
  color: #fff;
  background-color: #3882F6;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}